div.main {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
div.buttons {
  padding: 5px;
  background-color: #ddd;
  border: solid 1px black;
  border-radius: 5px;
}
p.display {
  padding: 5px;
  background-color: #ddd;
  border: solid 1px black;
  border-radius: 5px;
  text-align: center;
}

#startButton {
  border: solid 1px black;
  text-align: center;
  width: 25%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}


td {
  border: solid black 1px;
  padding: 5px;
}
p.num {
  padding: 15%;


}
